.presale{

    &_header{
        border: 1px solid white;
        position: fixed;
        top: 2rem;
        width: 70%;
        left: 15%;

    }

}

.presale_hero_section{
    // border: 1px solid red; 
    // padding-top: 3rem;
    position: relative;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20vh 0rem;

    &_top{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
        

        & img{
            width: 4rem;
            height: 4rem;
            object-fit: contain;
        }

        & h4{
            margin-left: 1rem;
            color: white;
            font-family: var(--syne);
            font-size: 2rem;
            font-weight: 400;
        }

    }

    &_main{
        margin-top: 3rem;
        width: 60%;
        position: relative;
        z-index: 10;
        color: white;
        font-family: var(--syne);
        font-size: 4rem;
        line-height: 3.3rem;
        text-align: center;
    }

    &_bg{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        object-fit: cover;
        object-position: top;
        height: 100%;
    }

    &_spiral{
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        object-fit: contain;
        object-position: top;
        height: 100%;
    }

}


.presale_publicsale_div{
    width: 90%;
    margin: 3rem auto;
    // min-height: 100vh;
    padding: 3rem 0rem;
    border-radius: 10px;
    // box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    // opacity: 0.8;
    background-color: #cfd0d22a;
    // padding-bottom: 7rem;
    position: relative;
    // border: 1px solid red;


    &_header{
        
        & h5{
            width: fit-content;
            color: white;
            margin: 0 auto;
            font-family: var(--raleway);
            font-size: 2rem;
            font-weight: 700;
            position: relative;
            
            // & span{
            //     background: linear-gradient(70deg, #7900D9 16.65%, #0097FF 78.93%);
            //     background-clip: text;
            //     -webkit-background-clip: text;
            //     -webkit-text-fill-color: transparent;
            // }

            & img{
                // border: 1px solid red;
                position: absolute;
                bottom: 10;
                width: 100%;
            }

        }

    }

    &_body{
        width: 37%;
        margin: 0 auto;
        margin-top: 3rem;
    }

    &_ised{
        text-align:center;
        margin-top: 3rem;
        color: white;
        font-family: var(--syne);
        font-size: 1.2rem;
        font-weight: 600;
    }

    &_progress{
        width: 100%;
        height: .6rem;
        border-radius: 400px;
        margin-top: 1rem;
        background-color: #454545;

        &_bar{
            background: linear-gradient(70deg, #7900D9 16.65%, #0097FF 78.93%);
            width: 50%;
            height: 100%;
            border-radius: 400px;
        }

    }

    &_caution{
        margin-top: 3rem;
        background-color: #FC5F67;
        padding: .3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 10px;
        border: 1px solid #FA0F1B;
        font-family: var(--syne);

        &_ic{
            margin-right: .5rem;
        }

    }

    &_contribute{
        color: white;
        text-align: center;
        margin-top: 3rem;
        font-family: var(--syne);
        font-weight: 600;
        font-size: 1.1rem;
    }

    &_ipsum{
        font-family: var(--syne);
        text-align: center;
        color: #E1E1E3;
        margin-top: 3rem;
        font-size: 1rem;
    }

    &_textBox{
        margin-top: 3rem;
        background-color: transparent;
        display: block;
        width: 100%;
        border: 1px solid #E1E1E3;
        color: #E1E1E3;
        padding: .6rem .7rem;
        border-radius: 10px;
    }

    &_fin{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        & button{
            display: block;
            width: 45%;
            color: white;
            padding: .5rem;
            border-radius: 10px;
            font-family: var(--raleway);
            font-weight:600;
            background: linear-gradient(70deg, #7900D9 16.65%, #0097FF 78.93%);
        }

    }

    &_claim{
        margin-top: 3rem;

        &_div{
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h5{
                color: white;
                font-family: var(--syne);
                font-weight: 600;
            }

            & h6{
                color: #E1E1E3;
                font-family: var(--syne);
                font-weight: 600;
            }

            &:last-child{
                margin-top: 2rem;
            }



        }

    }

    &_btnBm{
        margin-top: 1rem;
        display: block;
        width: 100%;
        color: white;
        padding: .5rem;
        border-radius: 10px;
        font-family: var(--raleway);
        font-weight:600;
        background: linear-gradient(70deg, #7900D9 16.65%, #0097FF 78.93%);
    }

    &_leftImg{
        position: absolute;
        left: 0;
        width: 410px;
        top: 14%;
        // border: 1px solid red;
        // height: 50px;
    }


    &_rightImg{
        position: absolute;
        right: 0;
        width: 320px;
        top: -90px;
        // height: 50px;
    }

    &_miniRight{
        display: none;
    }

    &_miniLeft{
        display: none;
    }


}



@media (max-width:1024px){

    .presale_hero_section_top{

    }

    .presale_hero_section_main{
        width: 70%;
    }

    .presale_publicsale_div_body{
        width: 50%;
    }

}


@media (max-width:768px){

    .presale_hero_section_top{

        & img{
            width: 2.5rem;
            height: 2.5rem;
        }

        & h4{
            margin-left: .9rem;
            font-size: 1.6rem;
        }

    }

    .presale_hero_section_main{
        width:80%;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .presale_publicsale_div{
        height: fit-content;
    }

    .presale_publicsale_div_body{
        width: 70%;
    }

}

@media (max-width:425px){

    .presale_hero_section{
        padding: 15vh 0;
        // width: 100%;
    }

    .presale_hero_section_top{

        & img{
            width: 1.8rem;
            height: 1.8rem;
        }

        & h4{
            margin-left: .9rem;
            font-size: 1.4rem;
        }

    }

    .presale_hero_section_main{
        width:80%;
        margin-top: 1.3rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    .presale_publicsale_div{
        width: 100%;
        border-radius: 0px;
        margin: 0;
        margin-top: 1rem;
    }

    .presale_publicsale_div_body{
        width: 90%;
    }

    .presale_publicsale_div_ised{
        font-size: 1rem;
    }

    .presale_publicsale_div_caution{
        font-size: .8rem;
    }

    .presale_publicsale_div_contribute{
        font-size: .9rem;
    }

    .presale_publicsale_div_ipsum{
        font-size: .8rem;
    }

    .presale_publicsale_div_textBox{
        font-size: .9rem;
    }

    .presale_publicsale_div_fin button{
        font-size: .8rem;
    }

    .presale_publicsale_div_claim_div h5 {
        font-size: .8rem;
    }

    .presale_publicsale_div_claim_div h6 {
        font-size: .8rem;
    }

    .presale_publicsale_div_btnBm{
        font-size:.9rem ;
    }

}

@media (max-width:375px){

    .presale_hero_section{
        padding: 15vh 0;
    }

    .presale_hero_section_top{

        & img{
            width: 1.5rem;
            height: 1.5rem;
        }

        & h4{
            margin-left: .7rem;
            font-size: 1.3rem;
        }

    }

    .presale_hero_section_main{
        width:80%;
        margin-top: 1.3rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

}